@model OurStore.Models.ChangeInformationViewModel
@{
    ViewBag.Title = "ChangeInformation";
}

<h2 style="color:white;">@ViewBag.Title</h2>

@using (Html.BeginForm("ChangeInformation", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 style="color:white;">Change Information Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group" style="color:white;">
        @Html.LabelFor(m => Model.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            <p style="color:white;"><b>Current Email: @ViewBag.Email</b></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change Email" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}